body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #142b6f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#App {
  display: flex;
  flex-direction: column;
}
#navbar {
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-around;

  font-weight: 700;
  align-items: center;
  border-bottom: 1px solid lightgray;
  position: fixed;
  background-color: white;
}
#future_of_health {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  height: 600px;
  width: 96%;
  margin-left: 2%;
  background-size: 100% 100%;
  background-image: url("//images.ctfassets.net/uuc5ok478nyh/6dDqtNr4Taao1Qwl4zf6UK/e1141217232b45bdc278746c3a6dcf87/Home-Hero-Mobile.jpg?w=912&h=912&fl=progressive&q=90&fm=jpg");
}
#main_heading {
  font-size: 30px;
}
#navbar > div {
  width: 20%;
}
#cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shop_cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15%;
  width: 23%;
}

#shop_cart_item {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  height: 180px;
  font-weight: 600;
}
#essential_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  width: 60%;
  margin-left: 20%;
  font-size: 15px;
  font-weight: 600;
}
#essential {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#essential > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div1 {
  margin-top: 200px;
  font-size: 50px;
  font-weight: 700;
}
.div2 {
  font-size: 50px;
  font-weight: 700;
}
.div3 {
  font-size: 50px;
  font-weight: 500;
}
.div4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #142b6f;
  height: 45px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  border-radius: 25px 25px 25px 25px;
  width: 130px;
  color: white;
}
/********leftRight*********/
#left_right_div {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  align-items: center;
}
.left {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.left > div {
  width: 45%;
}
.right {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.right > div {
  width: 45%;
}
/******footer************/
#footer {
  padding-top: 20px;
  margin-top: 5%;
  border-top: 4px solid #142b6f;
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: 80%;
  margin-left: 10%;

  font-weight: 700;
  border-bottom: 1px solid #142b6f;
  margin-bottom: 50px;
  padding-bottom: 20px;
}
#make_yourself {
  text-align: center;
  align-items: center;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  font-weight: 600;
  justify-content: space-between;
}

#footer > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
/*******************/

@media only screen and (max-width: 600px) {
  #who {
    height: 0%;
    width: 0%;
    overflow: hidden;
  }
  #future_of_health {
    height: 500px;
  }
  #shop_cart_item {
    height: 150px;
    font-size: 12px;
  }
  #essential_div {
    margin-top: -50px;
    height: 350px;
    width: 80%;
    margin-left: 10%;
  }
  #essential {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #essential > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .abc {
    height: 0%;
    width: 0%;
    overflow: hidden;
  }
  .left {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .left > div {
    width: 100%;
  }
  .right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .right > div {
    width: 100%;
  }
  #make_yourself > div {
    width: 100%;
  }
}
